@import './sidenav.scss';
@import './mainpage.scss';
@import './topactionbar.scss';
@import './add.scss';
@import './footer.scss';
@import './feedback.scss';
@import './aboutme.scss';
@import './skills.scss';
@import './experience.scss';
@import './languages.scss';

body {
    margin: 0;
    overflow: hidden;
    font-family: Verdana, sans-serif;
    background-color: #DADFE1 !important;
}
.app-container {
    height: 100vh;
    display: flex;
}
#container {
    // max-width: 1024px;
    margin: 0 auto;
    background: $pure-white;
}
